<h1>Welcome</h1>

<h2>Catalogue</h2>

<div>
  <table>
    <thead>
      <tr>
        <th>
        </th>
        <th>
        </th>
        <th>
          Title
        </th>
        <th>
          Author
        </th>
        <th>
          Published
        </th>
        <th>
          Summary
        </th>
        <th>
          Available?
        </th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |b| %>

      <tr>
        <td>
          <% if b.copies >= 1 %>
            <button type="button" style="background-color: green;"><%= link_to "details", book_path(b) %>
          <% else %>
            <button type="button" style="background-color: red;"><%= link_to "details", book_path(b) %>
          <% end %>
        </td>
        <td>
          <%= image_tag(b.image.variant(resize: "200x100")) %>
        </td>
        <td>
          <%= b.name %>
        </td>
        <td>
          <%= b.author %>
        </td>
        <td>
          <%= b.published_at %>
        </td>
        <td>
          <%= b.synopsis %>
        </td>

        <td>
          <%= b.checked_out? %><b><%= " #{b.copies} left" %></b>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
