<h1><%= @book.name %></h1>
<body>
  <div>
    <table>
      <thead>
        <tr>
          <th>
          </th>
          <th>
            Author
          </th>
          <th>
            Published
          </th>
          <th>
            Summary
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if user_signed_in? && @book.copies >= 1 %>
          <% if @book.chekr %>
          <td>
            Already checked out
          </td>
            <% else %>
          <td>
              <button type="button"><%= link_to "check out", new_book_user_checkout_path(@book.id, current_user.id) %></button>
          </td>
          <% end %>
          <td>
            <%= @book.author %>
          </td>
          <td>
            <%= @book.published_at %>
          </td>
          <td>
            <%= @book.synopsis %>
          </td>
        </tr>
      </tbody>
        <% else %>
      <tbody>
        <tr>
           <td>
          </td>
          <td class="author_name">
            <strong><%= @book.author %></strong>
          </td>
          <td>
            <%= @book.published_at %>
          </td>
          <td>
            <%= @book.synopsis %>
          </td>
        </tr>
      </tbody>  
      <% end %>
    </table>

  </div>
</body>
